
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #ccc;
    background-image: url('../assets/images/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  .container {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    
  }
  
  .home {
    width: 90%;
    height: 86%;
    border-radius: 14px;
    background: #323232;
    box-shadow: 15px 13px 20px -8px rgba(0, 0, 0, 0.6);
    background: radial-gradient(circle, rgba(60,60,60,1) 34%, rgba(36,36,36,1) 90%);
  }
  